.full-img{
    width:75%;
}

.vertical-img{
    width: 30%;
}

.logo-catia {
    position:absolute;
    right:10px;
    top: 10px;
}

.logo-catia img {
    width:270px;
}

.width-48{
    width:48%;
}

.width-50 {
    width:50%;
}

.width-80 {
    width:80%;
}


.width-100 {
    width:100%;
}

.display-inline-block {
    display:inline-block;
}

.relative {
    position:relative;
}

.left-10p {
    left : 10%;
}

.margin-right-20p{
    margin-right: 20%;
}

.align-img li img {
    width: 64px;
    margin-bottom: 0px;
}